<h1>Request</h1>

<div class="space_list_item">
  <p class="space_name"><%= @booking.user.first_name %> <%= @booking.user.last_name %> has requested to book <%= @booking.space.name %>.</p>
  <p>Check in: <%= @booking.check_in %></p>
  <p>Check out: <%= @booking.check_out %></p>
  <a href="/bookings/confirm/<%= @booking.id %>" id="accept_request" class="btn btn-default">Accept request</a>
  <a href="/bookings/reject/<%= @booking.id %>" id="reject_request" class="btn btn-default">Reject request</a>
</div>
